option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    ASPNETCORE_URLS: http://+:5000
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 5000
    Protocol: HTTP
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /css: wwwroot/css
    /js: wwwroot/js
    /images: wwwroot/images